#water-bet-builder {
  form {
    margin-top: 3em;
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    font-size: 1.3em;
    border: 1px solid;
    box-shadow: $THEME_COLOR 3px 3px;

    .fa-droplet {
      color: blue;
    }

    .wager-input {
      max-width: 120px;
    }

    .submitCol {
      text-align: right;
      #submitBtn {
        margin: 30px;
      }
    }
  }
}
