@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

// @import "../wagebetviewer/waterBetViewer.scss";
// @import "../wagerbuilder/wagerBuilder.scss";
// @import "../wagerreview/wagerReviewCard.scss";

body,
html {
  margin: 0px;
  background-color: rgb(231, 231, 231);
}

html {
  overflow-y: scroll;
}
