@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

@import "../app/colors.scss";
@import "../navbar/loggedInNavbar.scss";
@import "../login/login.scss";
@import "../homepage/homePage.scss";
@import "../page/page.scss";
@import "../howtoplay/howtoplay.scss";
@import "../groupsearch/groupsearch.scss";

body,
html {
  margin: 0px;
  background-color: $MAIN_BACKGROUND_COLOR;
}

html {
  overflow-y: scroll;
}

.text-warn {
  color: rgb(177, 0, 0);
  font-style: italic;
}
