@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

@import "../app/colors.scss";
@import "../navbar/loggedInNavbar.scss";
@import "../login/login.scss";

body,
html {
  margin: 0px;
  background-color: $MAIN_BACKGROUND_COLOR;
}

html {
  overflow-y: scroll;
}
