// http://colormind.io/

$OFF_GREEN: #4eac91;
$GREEN: #51aa5e;
$FORREST_GREEN: #5d7d58;
$CREAM_WHITE: #f4f6f4;
$DARK_GRAY: #3b3b3b;
$LIGHT_BLACK: #302e2c;
$BLUE: #244aa6;
$BABY_BLUE: #98cae7;
$LIGHT_MUSTARD_YELLOW: #d9d8a3;
$WHITE: #f5f2e9;

$THEME_COLOR: $BABY_BLUE;
$THEME_COLOR_SECONDARY: #ffffff; //todo
$MAIN_BACKGROUND_COLOR: $WHITE;
