#group-search-page {
  #createGroupRow {
    text-align: right;
    button {
      margin-left: 8px;
    }
  }

  #groupSearchRow {
    margin-top: 30px;
  }
  #preSearchHelp {
    margin-top: 30px;
  }

  .groupSearchLoading {
    margin-top: 50px;
    text-align: center;
  }

  table#results-table {
    margin-top: 20px;
    vertical-align: middle;

    td.joinGroupTd {
      text-align: center;
    }
  }
}
