#group-search-page {
  #preSearchHelp {
    margin-top: 30px;
  }

  #groupSearchLoading {
    margin-top: 50px;
    text-align: center;
  }

  table#results-table {
    margin-top: 20px;
    vertical-align: middle;

    td.joinGroupTd {
      text-align: center;
    }
  }
}
